.css-levciy-MuiTablePagination-displayedRows {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.43;
  letter-spacing: 0.01071em;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: none;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar
  .MuiTablePagination-actions {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-left: 20px;
  display: none;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
}

.MuiOutlinedInput-notchedOutline {
  /* border-width: 1px !important; */
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

.MuiPickersDatePickerRoot-toolbar {
  align-items: flex-start !important;
  flex-direction: column !important;
  background-color: #00b56c !important;
}

.MuiPickersDay-daySelected {
  color: #fff !important;
  font-weight: 500 !important;
  background-color: #00b56c !important;
}
/* p.MuiTypography-root.MuiTypography-body2.MuiTypography-colorInherit {
    color: #3b413f;
  } */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 7px;
}

/* Handle on hover */
/* .Select_box::-webkit-scrollbar-thumb:hover {
    background: #00b56c;
  } */

.leaflet-touch .leaflet-bar a {
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #00b56c;
}

input[type="checkbox"]:hover {
  outline: 1px auto #00b56c;
  cursor: pointer;
}
.MuiOutlinedInput-notchedOutline {
  /* border-width: 1px !important; */
  border-color: #d3d3d3 !important;
  outline: #00b56c;
}

.MuiOutlinedInput-notchedOutline:hover {
  /* border-width: 1px !important; */
  border: #00b56c !important;
}

.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #00b56c !important;
}

.MuiPickerDTToolbar-toolbar {
  padding-left: 16px;
  padding-right: 16px;
  justify-content: space-around;
  background-color: #00b56c !important;
}

.MuiTab-fullWidth {
  flex-grow: 1;
  max-width: none;
  flex-basis: 0;
  flex-shrink: 1;
  background-color: #00b56c !important;
}

/* .MuiTab-textColorInherit.Mui-selected {
  opacity: 0;
} */
